body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.results-title {
  text-align: center;
  font-size: 4rem;
}

.card {
  margin: 2rem;
}

.brewCard {
  background-color: #E040FB;
  text-align: center;
  margin: .5rem;
}

.breweries {
  text-align: center;
}

.button-primary {
  background-color: #D500F9;
  color: white;
}